{% extends "base_layout.html" %}

{% block title %}<title>Enlarged Prostate and Permanent Solution | Nature's Signs</title>{% endblock %}
{% block meta_tags %}
  <meta name="description" content="You Have Found The Place for Natural & Herbal Remedies to Prostate Symptoms and Complications">
{% endblock %}

{% block content %}
{% include "prostate/prostate-snippet.html" %}
<section class="prostate-main-content">
    <div class="container">
        <div class="prostate-main-content-wrap">
            <div class="row">
                <div class="col-md-8">
                    <h1>What You Might Want to Know About Enlarged Prostate</h1>
                    <div class="prostate-main-points">
                        <nav id="enlarged-prostate-nav">
                            <ul class="enlarged-prostate-nav-list">
                                <li class="prostate-nav-list-items">
                                    <a class="enlarged-prostate-nav-links" href="#bph">What is BPH</a>
                                </li>
                                <li class="prostate-nav-list-items">
                                    <a class="enlarged-prostate-nav-links" href="#causes">Causes of BPH</a>
                                </li>
                                <li class="prostate-nav-list-items">
                                    <a class="enlarged-prostate-nav-links" href="#symptoms">Symptoms</a>
                                </li>
                                <li class="prostate-nav-list-items">
                                    <a class="enlarged-prostate-nav-links" href="#conditions">Conditions</a>
                                </li>
                                <li class="prostate-nav-list-items">
                                    <a class="enlarged-prostate-nav-links" href="#treatment">Treatment</a>
                                </li>
                            </ul>
                        </nav>   
                    </div>
                    <a name="sideview"></a>
                    <h3>A Quick Side View</h3>
                    <p>Placed in-between the bladder and penis, the prostate is an important 
                        part of the male reproduction system. It sorrounds the urethra and secretes
                        the fluid that nourishes and protects the semen. Prostate increases in size as
                        men get older. However, its over-enlargement, overtime can lead to symptoms, other complications
                        and health conditions that will need to be treated. 
                    </p>
                    <a name="bph"></a>
                    <h3>BPH</h3>
                    <p>Benign Prostatic Hyperplasia (BPH), simply refers to enlargement of the prostate gland in men as a result
                        of multiplication of cells. The additional cells makes the prostate gland to increase, which clamps down on 
                        the urethra, blocking the flow urine, and can affect the quality of life significantly.
                    </p>
                    <a name="causes"></a>
                    <h3>What Causes BPH?</h3>
                    <p>BPH is a normal situation as male ages, even though the exact cause is not known, it's beliveved that changes in males
                        sex hormones which accompanies aging can be behind it.
                    </p>
                    <a name="symptoms"></a>
                    <h3>Symptoms of BPH</h3>
                    <p>Initially, the symptoms will not be severe, but things can get blown up if it's left untreated. Typical signs of BPH will include the 
                        following:
                        <ul class="bph-signs">
                            <li>Slowed or delayed urination</li>
                            <li>Blood in urine</li>
                            <li>Painful urination</li>
                            <li>Weak urinary stream</li>
                            <li>Urinating more than two or three times at nights</li>
                            <li>Sudden urge to urinate</li>
                            <li>Leakages of urine</li>
                            <li>Inability to empty bladder completely</li>
                        </ul>
                    </p>
                    <p>Make sure you consult your doctor when you notice any of the symptoms and seek medical advice.
                        This symptoms can be treated, and do so timely to prevent complications. Contact our help desk on
                        +234 (0) 809 1029 404, we'll respond to you fast, or send and email to: hello@naturessigns.com.
                    </p>
                    <a name="conditions"></a>
                    <h3>Prostate Conditions</h3>
                    <p>High level of BPH has the following side effects</p>
                    <h4><b>Enlarged Prostate</b></h4>
                    <p>Over-growth of prostate gland, typically in men over 50. It can be treated through medications or surgery.</p>
                    <h4><b> Prostatitis</b></h4>
                    <p>This is prostate inflamation, usually caused by infections.</p>
                    <h4><b>Prostate Cancer</b></h4>
                    <p>Is a common type of cancer found in men which can also be treated especially if detected early.</p>
                    <h3>Prostate Diagnosis</h3>
                    <p>Prostate tests usually start with physical examination by the doctor and by obtaining medical history.
                        Other tests will include:
                        <ul class="bph-signs">
                            <li>Prostate-specific antigen (PSA): A blood test to check prostate cancer.</li>
                            <li>Post-void residual: Used to determine the amount of urine that remains in the bladder. </li>
                            <li>Urinalysis: Checking of urine for blood and bacteria</li>
                            <li>Urology: X-Ray or TC scan done by injecting dye into your body</li>
                        </ul>
                    </p>
                    <p>Apart from afore mentioned, other tests can also be done, even as doctor may seek your medication history
                        to trace what could affect your urinary system.
                    </p>
                    <a name="treatment"></a>
                    <h3>Prostate Treatment</h3>
                    <p>Self-care can be used to kick start prostate treatment, however, if symptoms persist, medication or surgery may be the way out.
                        Many of our customers have got tremendous result by treating their prostate with 
                        <a href="{% url 'marketplace' %}" class="treat-prostate" >ProstaRight Tea</a>, a natural health formulation
                        by Nature's Signs.
                    </p>
                </div>
                <div class="col-md-4 pt-4 infographic">
                    <div class="card infographic">
                        <div class="card-header natural-medicine-infogrphic">
                            <h1>Featured on Natural Medicine:</h1>
                            <h5>The Infographic Series</h5>
                        </div>
                        <div class="card-body infographic-content">
                            <a class="card-title infographic-links" href="#">The Future of Alternative Medicine</a>
                            <h5 class="card-text">Decades ago, the field of natural medicine was relatively small, but today, the level of awareness
                                has grown. Intensive researches had led to immense outcomes.
                            </h5>
                            <a class="card-title infographic-links" href="#">How to Shrink Enlarged Prostate Naturally</a>
                            <h5 class="card-text">We have asked a couple of patients how they respond to treating 
                                Enlarged Prostate with natural medicine, their answers have been very impressive and encouraging.
                            </h5>
                            <a class="card-title infographic-links" href="#">Cool Tips for Managing BPH</a>
                            <h5 class="card-text">As means of seeing you live better life, we've outlined lifestyle tips that will help
                                those with enlarged prostate manage the symptoms effectively.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}