{% extends "base_layout.html" %}
{% load static %}

{% block title %}
    <title> Shrink Enlarged Prostate with ProstaRight Tea | Zero PSA Values by Nature's Signs </title>
{% endblock title %}

{% block prostaright_tea %}
    <section id="about_prostaright_bg">
        <div class="about_prostaright_bg_img">
            <img src="">
        </div>
    </section>
    <section id="about_prostaright_bg_content">
        <div class="container">
            <h2>Features and Health Benefits</h2>
            <p style="margin-top: 20px;">ProstaRight Tea is made from natural ingredients, including Prunus Africanum, Nasturtum Officinale
                Urtica Dioica, </p>
            <p>Curcuma Longa, etc. This product contains no preservatives, and is completely Non GMO.</p>
            <div class="row">
                <div class="offset-md-4  col-md-6 mb-0">
                    <ul>
                        <li><span> Ideal for Shrinking Enlarged Prostate</span></li>
                        <li><span> Treat Loss of Libido </span></li>
                        <li><span> Great for Men's Health </span></li>
                        <li><span>Good for Mood Improvement</span></li>
                        <li><span>Reduces Prostate Inflamation</span></li>
                        <li><span>Great for Cancer</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="product_odering" style="background: #000; min-height: 300px;">
        <div class="container">
            <div class="row">
                <div class="offset-md-1 col-md-5">
                    <h3>Ordering Information & Enquiries</h3>
                    <p>
                        Hotlines: +234 (0) 803 6687 187,  809 1029 404
                    </p> 
                    <p> WhatApp Line: +234 (0) 809 1029 404</p>
                </div>
                <div class="offset-md-1 col-md-5">
                    <h3>Like to become a Distributor</h3>
                    <p>Are you an exciting sales person, marketing savvy, and think you can deliver results? Join our growing 
                        distributors network and enjoy incredible bonuses and rewards on direct sales as well as referrals. 
                    </p>
                    <a class="btn btn-success btn-lg showcase-btn" href="{% url 'become_distributor' %}">Join Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}