{% extends "base_layout.html" %}

{% block articles %}
<section class="article-list-page">
    <div class="container-fluid">
        <div class="article-list-hero">
            <div class="article-list-hero-content text-center">
                <h3>COVID-19 is highly contageous, kindly follow saftety advice from experts</h3>
            </div>
        </div>
    </div>
</section>
<section class="all-articles">
    <div class="container">
        <div class="article-content-wrap">
            <h5>Articles for {{article_category.title}}</h5>
            <div class="row">
                {% if articles %}
                <div class="col-md-9">
                    <div class="row">
                        {% for article in articles  %}
                        {% if article.category and article.image %}
                        <div class="articles-cols col-md-4 text-center">
                            <div class="card all_articles_card">
                                <a href="{% url 'article_detail' slug=article.slug %}"
                                    class="card-title article-title-link">{{article.title}}
                                </a>
                                <br class="mb-2">
                                <small>Posted on {{article.created_on}}</small>
                                <a href="{% url 'article_detail' slug=article.slug %}"><img
                                    src="{{ article.image.url }}" class="article-img img-responsive">
                                </a>
                                <div class="article-content">
                                    <p class="articles-desc mb-5">{{article.content|truncatechars:160}}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row paginated">
                        <div class="col-sm-12 mt-4 pl-0">
                            {% if is_paginated %}
                            {% if page_obj.has_previous %}
                            <a class="paginate-articles btn btn-outline-info btn-sm mb-4" href="?page=1">first</a>
                            <a class="paginate-articles btn btn-outline-info btn-sm mb-4"
                                href="?page={{page_obj.previous_page_number}}">previous</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <a class="paginate-articles btn btn-info btn-sm mb-4" href="?page={{num}}">{{num}}</a>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <a class="paginate-articles btn btn-outline-info btn-sm mb-4"
                                href="?page={{page_obj.next_page_number}}">next</a>
                            <a class="paginate-articles btn btn-outline-info btn-sm mb-4"
                                href="?page={{page_obj.paginator.num_pages}}">last</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="alert alert-info mb-5" role="alert">
                        No articles at this moment, you may please check back later!
                    </div>
                    {% endif%}
                </div>
                {% include "blog/article_sidebar.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}