{% extends "base_file.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block change_password %}
    <section class="signup-banner">
        <div class="container signup_page">
            <h2 class="signup-screen">Change Account Password</h2>
            <br>
            <form class="sign-form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button type="submit" class="btn btn-success btn-lg signup-btn">Save</button>
            </form>
        </div>
        <br>
    </section>
{% endblock %}
