{% extends "base_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block user %}
    <section class="user-screen">
        <div class="container">
            <div class="alert alert-info">
                Your password has been successfully reset. 
                 <div class="update_delete_btn">
                    <a class="btn btn-outline-secondary btn-sm mt-3 mb-1 mr-2 update-article-cta" href="{% url 'login' %}">Click to Login Now</a>
                 </div>
            </div>              
        </div>
    </section>
{% endblock %}