{% extends "base_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block user %}
<section class="user-screen">
    <div class="container">
        <div class="password_reset_content_wrap">
            <h2 class="password_reset">Forgot password</h2>
            <form class="sign-form" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-0">
                        {{form.email|as_crispy_field}}
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-success">Initiate Password Reset </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}