{% extends 'base_layout'%}
{% load crispy_forms_tags %}
{% load static %}

{% block user %}
<section class="user-screen">
    <div class="container">
        <h2>Reset Your Password</h2>
        <form class="sign-form" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{form|crispy}}
                </div>        
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Reset Password</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}