{% extends 'base_layout.html' %}

{% load static %}

{% block title %} 
    <title> Nature's Signs | User Profile </title>
{% endblock %} 

{% block user %}
    <section class="user-screen">
        <div class="container" >
            <div class="row pt-5">
                <div class="col-md-8">
                    <br>
                    <h2>Profile Info</h2>
                    <p>Username: {{user.username}}</p>
                    <p>First Name: {{user.first_name}}</p>
                    <p>Last Name: {{user.last_name}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Phone: {{user.userprofile.phone}}</p>
                </div>
                {% include "blog/article_sidebar.html" %}
            </div>    
        </div>
    </section>
   
{% endblock %}