{% extends "base_layout.html" %}
{% load static %}

{% block content %}
    <main class="order_summary">
        <div class="container">
            <div class="table-responsive text-nowrap pb-5">
                <h3>Order Summary</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="items-table-head">
                            <th scope="col">#</th>
                            <th scope="col">Item Title</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in item.items.all %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td class="item-title">{{order_item.item.title}}</td>
                            <td>{{order_item.item.price}}</td>
                            <td>
                                <a href="{% url 'remove_single_item_from_cart'  order_item.item.slug %}"><i class="fa fa-minus mr-2"></i></a>
                                    {{order_item.quantity}}
                                <a href="{% url 'add_to_cart'  order_item.item.slug %}"><i class="fa fa-plus ml-2"></i></a>
                            </td>
                            <td>
                                {% if order_item.item.discount_price %}
                                    <del class="currency">N</del>{{ order_item.get_total_item_discount_price }}
                                    <span class="badge badge-secondary">
                                        You Save <del class="currency">N</del>{{order_item.get_amount_saved}}
                                    </span>
                                {% else %}
                                    <del class="currency">N</del>{{ order_item.get_total_item_price }}
                                {% endif %}
                                <a href="{% url 'remove_from_cart' order_item.item.slug %}" style="color: red">
                                    <i class="fa fa-trash float-right"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Your shopping basket is empty</td>
                        </tr>
                        <td colspan="5">
                            <a href="{% url 'marketplace' %}" class="btn btn-outline-default float-right">Continue shopping</a>
                        </td>
                        
                        {% endfor %}
                        {% if item.get_sum_total %}
                        <tr class="order-total">
                            <td colspan="4"><b>Order Total</b></td>
                            <td><b><del class="currency">N</del>{{item.get_sum_total}}</b></td>
                        </tr>
                        <tr class="order-vat">
                            <td colspan="4"><b>VAT</b></td>
                            {% if order_item.add_vat %}
                                <td><b><del class="currency">N</del>{{item.get_vat}}</b></td>
                            {% else %}
                                <td><b><del class="currency">N</del>{{item.get_vat}}</b></td>
                            {% endif %}                           
                        </tr>
                        <tr class="amount-payable">
                            <td colspan="4"><b>Amount Payable</b></td>
                            <td><b><del class="currency">N</del>{{item.get_amount_payable}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="{% url 'proceed_to_pay' %}" class="btn btn-sm btn-secondary float-right ml-3 mb-3 mt-3">Proceed to Pay</a>
                                <a href="{% url 'marketplace' %}" class="btn btn-sm btn-outline-success float-right mb-2 mt-3">Continue shopping</a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}