{% load crispy_forms_tags %}
{% load widget_tweaks %}

<section id="footer">
    <div class="container-fluid">
        <div class="footer_wrapper">
            <div class="row">
                <div class="footer-content col-md-3 col-sm-6">
                    <h5>Quick Links</h5>
                    <ul class="footer_items">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'blog_list' %}">Blog</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li><a href="{% url 'faq_list' %}">FAQs</a></li>
                    </ul>
                    <p className='pl-2 footer-email'>
                        <i class='fa fa-envelope pl-2'>
                            <a href='mailto:hello@naturessigns.com' class='email_us pl-2'>hello@naturessigns.com</a>
                        </i>
                    </p>
                    <p class='pl-2'>
                        <i class='fa fa-phone-square'> +234 (0) 809 1029 404 </i>
                    </p>
                    <p class='pl-2'>
                        <i class='fab fa-whatsapp'> +234 (0) 809 1029 404 </i>
                    </p>
                </div>
                <div class="footer-content col-md-3 col-sm-6">
                    <h5>Marketplace</h5>
                    <ul class="footer_items">
                        <li><a href="{% url 'how_to_buy' %}">How to  Order</a></li>
                        <li><a href="{% url 'sell_apply' %}">Sell Your Products</a></li>
                        <!-- <li><a href="">Advertise With Us</a></li> -->
                        <li><a href="{% url 'partner' %}">Let's Partner</a></li>
                        <li><a href="{% url 'become_distributor' %}">Become a Distributor</a></li>
                    </ul>
                </div>
                <div class="footer-content col-md-3 col-sm-6">
                    <h5>Legal Policies</h5>
                    <ul class="footer_items">
                        <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                        <li><a href="{% url 'return_policy' %}">Returns Policy</a></li>
                        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'cookie_policy' %}">Cookie Tracking</a></li>
                        <li><a href="{% url 'disclaimer' %}">Disclaimers</a></li>
                        <li><a href="">Report Abuse</a></li>
                    </ul>
                </div>
                <div class="footer-content col-md-3 col-sm-6">
                    <h5>Connect With Us</h5>
                    <ul class="footer_items">
                        <li class="list-inline-item"><a href="https://www.facebook.com/naturessigns"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com/naturessigns"><i
                                    class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/naturessigns"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/naturessigns"><i
                            class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                    <!-- newsletter subscribe -->
                    <form method="POST" action="/">
                        {% csrf_token %}
                        <div class="form-row">
                           
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-section">
        <div class="copyright-wrap">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-sm-2 text-center text-white">
                    <p class="copy">Copyright &copy Nature's Signs Ltd, 2020. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</section>