{% extends "base_layout.html" %}

{% block content %}
<section class="how-to-buy">
    <div class="container-fluid">
        <div class="wrap">
            <h2>Ordering Assistance</h2>
            <p>If you need help on how to buy, or have questions on any of our products as well as earlier <br>
                purchase made, our customer service department will respond to you quicky.
            </p>
            <p class="order-help">Phone:  +234 (0) 809 1029 404<br>  WhatsApp:  234 (0) 809 1029 404
            <br>Email:  hello@naturessigns.com</p>
        </div>
    </div>
</section> 
{% endblock %}