<div class="offset-md-1 col-md-3">
    <div class="content-section" style="margin-bottom: 70px">
        <h4>At a Glance</h4>
        <p class="text-muted policy-">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'privacy_policy' %}" class="policy_list">Privacy Policy</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'terms_and_conditions' %}" class="policy_list">Terms & Condtions</a>
                </li>
                <li class="list-group-item list-group-item-ligh ">
                    <a href="{% url 'cookie_policy' %}" class="policy_list">Cookie Policy</a>
                </li>
                <li class="list-group-item list-group-item-light policy_list">
                    <a  class="policy_list" href="{% url 'disclaimer' %}">Disclaimer</a> 
               </li>
                <li class="list-group-item list-group-item-light policy_list" >
                    <a href="{% url 'contact_us' %}" class="policy_list">Report Abuse</a>
                </li>
            </ul>
         </p>
    </div>
</div>