{% extends "base_file.html" %}
{% load static %}

{% block our_services %}
<!--Projects section v.4-->
<section>
    <!--Grid row-->
    <div class="container-fluid" style="width: 100%; padding-left: 0; padding-right: 0; padding-top: 30px;">
    <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-12 mb-4" style="padding-left: 0; padding-right: 0; width: 100%;">
            <div class="card card-image services_main_card">
                <div class="services_card_text text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" style="background-color: transparent">
                    <div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    </div>

</section>
<!--Projects section v.4-->

<section style="padding-top: 15px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1 style="text-align: center;">Nature's Signs is for everyone who value good health.</h1>
            </div>
        </div>
        <div class="row" style="padding-top: 60px; padding-left: 60px; padding-right: 60px;">
            <div class="col-sm-4">
                <div class="card" style="background: #eaf6f8; min-height: 270px;">
                    <div class="card-body">
                        <h3 class="card-title">Organic Substances</h3>
                        <p class="card-text" style="font-size: 1.03rem;">
                            Nature offers an incredible diversity of chemical compounds that boast a wide array of physiological effects.
                            These can be used in the treatment of disease by minute doses of natural substances that in a healthy person would produce symptoms of disease.
                        </p>
                        <br>
                        <a href="#" class="btn btn-success">Customers' reviews</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 15px;">
                <div class="card" style="min-height: 280px; background: #fdf7f7">
                    <div class="card-body">
                        <h3 class="card-title">Botanical Medicine</h3>
                        <p class="card-text" style="font-size: 1.03rem;">
                            This deals with making use of substances that come from plants for medical treament and prevention of diseases.
                            Through comprevensive research and rigourous lab work, we've been able figure out ways to use extracts from plant for various conditions.
                        </p>
                        <br>
                        <a href="#" class="btn btn-success">Success stories</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background: #eaf6e8; min-height: 315px;">
                    <div class="card-body">
                        <h3 class="card-title">Physical Examinations</h3>
                        <p class="card-text" style="font-size: 1.03rem;">
                            Need to ask vital questions about your health cannot be over-stressed. With core professionals and modern facilities available, we are positioned to 
                            carry out routine test on your overall health, so that issues that could become medical concerns can be identified and treated timely.
                        </p>
                        <br>
                        <a href="#" class="btn btn-success">Get booked now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>     
{% endblock %}