{% extends "base_layout.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="partner-registration">
    <div class="container registration-reg">
        <div class="row">
            <div class="form-group offset-md-3 col-md-9 col-sm-12 mb-0 mt-4">
                <h4>Welcome, it takes just a little time to complete</h4>
                <br>
            </div>
        </div>
        <form class="sign-form" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-3 mb-0">
                    {% render_field form.full_name class='input form-control' placeholder='Your Full Name' rows="20" %}
                </div>
                <div class="form-group col-md-3 mb-3">
                    {% render_field form.email_address class='input form-control' placeholder='Email Address' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-4 mb-3">
                    {% render_field form.company_or_business_name class='input form-control' placeholder='Company or Business Name' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-6 mb-3">
                    {% render_field form.business_address_line_1 class='input form-control' placeholder='Business Address Line 1' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-6 mb-3">
                    {% render_field form.business_address_line_2 class='input form-control' placeholder='Business Address Line 2' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-2 mb-3">
                    {% render_field form.state_or_province class='input form-control' placeholder='State or Province'rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-2 mb-0">
                    <label class="label">Country</label>
                    {% render_field form.country class='label form-control' rows="20" %}
                </div>
                <div class="form-group col-md-2 mb-0">
                    <label class="label">Zip Code</label>
                    {% render_field form.zip_code class='label form-control' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-3 mb-3">
                    {% render_field form.business_phone_number class='label form-control' rows="20" placeholder='Phone Number'%}
                </div>
                <div class="form-group col-md-3 mb-3">
                    {% render_field form.website class='label form-control' rows="20" placeholder='Website' initial='www' %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-2 mb-0">
                    <label class="label">Product Type</label>
                    {% render_field form.product_type class='label form-control' rows="20" %}
                </div>
                <div class="form-group col-md-2 mb-0">
                    <label class="label">Business Category</label>
                    {% render_field form.business_category class='label form-control' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-6 mt-4">
                    {% render_field form.product_features_and_benefits class='input form-control' placeholder='Briefly describe your product(s) to include health benefits' %}
                </div>
            </div>
            <div class="form-row">
                <div class="partner-reg-btn form-group offset-md-3  col-md-12 mb-5">
                    <input type="submit" value="Submit" class="btn btn-success mt-3">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}