{% extends "base_layout.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="partner-registration">
    <div class="container registration-reg">
        <div class="row">
            <div class="form-group offset-md-3 col-md-9 col-sm-12 mb-0 mt-4">
                <h4>We're happy on your interest to sell on this website</h4>
                <br>
            </div>
        </div>
        <form class="sign-form" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-3 mb-4">
                    {% render_field form.full_name class='input form-control' placeholder='Your Full Name' rows="20" %}
                </div>
                <div class="form-group col-md-3 mb-4">
                    {% render_field form.email class='input form-control' placeholder='Email Address' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-3 mb-4">
                    {% render_field form.phone_number class='input form-control' placeholder='Phone Number' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-2 mb-4">
                    <label class="label">Country of citizenship</label>
                    {% render_field form.country_of_citizenship class='label form-control' rows="20" %}
                </div>
                <div class="form-group col-md-2 mb-4">
                    <label class="label">Country of Residence</label>
                    {% render_field form.country_of_residence class='label form-control' rows="20" %}
                </div>
                <div class="form-group col-md-2 mb-4">
                    <label class="label">Product Origin</label>
                    {% render_field form.product_origin class='label form-control' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-3 mb-2">
                    {% render_field form.product_name class='label form-control' placeholder='Product Name' rows="20" %}
                </div>
                <div class="form-group col-md-3 mb-2">
                    {% render_field form.manufacturer class='label form-control' placeholder='Manufacturer' rows="20" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-2 mt-3">
                    {% render_field form.date_produced class='input form-control' placeholder='Production Date' %}
                </div>
                <div class="form-group col-md-2 mt-3">
                    {% render_field form.expiry_date class='input form-control' placeholder='Expiry Date' %}
                </div>
                <div class="form-group col-md-2 mt-3">
                    {% render_field form.selling_price class='input form-control' placeholder='Price and Currency' %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-md-3 col-md-6 mt-2">
                    {% render_field form.product_description class='input form-control' placeholder='Product Information' %}
                </div>
            </div>
            <div class="form-row">
                <div class="partner-reg-btn form-group offset-md-3  col-md-12 mb-5">
                    <input type="submit" value="Submit" class="btn btn-success mt-3">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}