<div class="col-md-3 articles-right-sidebar">
    <div class="articles-detail-sidebar text-center">
        <h4 class="card-header">Don't Miss Anything Important</h4>
        <p class="text-muted">
        <ul class="list-group articles-detail-sidebar">
            <li class="list-group-item list-group-item-light">
                <a class="article-snippet-menu" href="{% url 'blog_list' %}">Latest Articles</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="article-snippet-menu">News Feeds</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="article-snippet-menu">Send Us Feedback</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="article-snippet-menu">Become a Contributor</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="article-snippet-menu">Comment on Article</a></li>
        </ul>
        </p>
    </div>
</div>